@import "../style/fonts.scss";

html {
  background-color: #f5f6fa;

  .main {
    position: relative;
    margin: 0 auto;
    top: 35px;
    width: 650px; //45%; //55%;

    .heading {
      > h1 {
        font-family: $font;
        font-size: $heading-size;
        font-weight: $heading-weight;
        color: $heading-color;

        margin-bottom: 0px;
      }

      > h2 {
        font-family: $font;
        font-size: $subheading-size;
        font-weight: $subheading-weight;
        color: $subheading-color;
      }
    }

    .python-editor {
      margin-top: 35px; // 50px;
      width: 100% !important;
      height: 400px !important;
      border: 3px solid #e4e9f3;
      border-radius: 3px;

      .ace_gutter-layer {
        background-color: #e4e9f3;
      }

      .ace_folding-enabled > .ace_gutter-cell {
        color: #8893ac;
      }
    }

    .cta {
      display: block;
      text-align: center;
      margin-top: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      width: calc(100% + 4px);
      border-radius: 3px;

      font-family: $font;
      font-size: $subheading-size;
      font-weight: 400;
      color: #ffffff;

      cursor: pointer;

      background-color: #3e82ff;

      &:hover {
        background-color: #5b95ff;
      }
    }

    .treeWrapper {
      margin-top: 25px;
      margin-bottom: 35px;
      width: 100%;
      height: 550px;
      border: 3px solid #e4e9f3;
      border-radius: 3px;

      background-color: #ffffff;

      .nodeNameBase {
        fill: #8893ac;
        stroke-width: 0.25;
        stroke: #8893ac;
        font-family: $font;
        transform: translateX(5px) translateY(10px);
      }
    }

    .divider {
      margin-top: 50px;
      width: calc(100% + 4px);
      height: 2px;

      background-color: #e4e9f3;
    }

    .description {
      h1 {
        margin-top: 0px;

        font-family: $font;
        font-size: 28px;
        font-weight: $heading-weight; // 500
        color: $heading-color;
      }

      p {
        font-family: $font;
        font-size: 16px;
        font-weight: $subheading-weight;
        color: $subheading-color;
        line-height: 23px;
      }

      a {
        color: #3e82ff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .what {
        margin-top: 50px;
      }

      .how {
        margin-top: 50px;
      }
    }
  }

  footer {
    position: relative;
    height: 65px;
    bottom: 0px;
    margin-top: 85px;
    background-color: #e4e9f3;

    span {
      justify-content: center;
      padding-top: 23px;
      display: flex;
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      color: $subheading-color;
    }
  }
}
